<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'receipts:receipt_list' %}">Receipts</a></li>
                    <li><a href="{% url 'receipts:category_list' %}">Categories</a></li>
                    <li><a href="{% url 'receipts:account_list' %}">Accounts</a></li>
                    <li><a href="{% url 'receipts:create_receipt' %}">Create Receipt</a></li>
                    <li><a href="{% url 'receipts:create_category' %}">Create Category</a></li>
                    <li><a href="{% url 'receipts:create_account' %}">Create Account</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
